

.banner{
	grid-column: 1 / 3;
	position: relative;
	z-index: 10px;
	margin-bottom: 1em;
	
	&__img{
		width: 100%;
		height: 100%;
		
	}

	&__content{
		position: absolute;
		bottom: 0;
		width: 100%;
		opacity: .9;
	
	}

	&__link{
		color: #fff;
		display: block;
		text-align: center;
		font-size: 1.4em;
		margin: 1em auto;
		width: 95%;
	}

	&__title{
		background: $color2;
		text-align: center;
		width: 80%;
		margin: .5em auto;
		color: #fff;
		border-radius: 20px;
		text-transform: uppercase;
	}
}