footer.container-fulid.bg-info.text-white
	.row
		.col-md-4.pt-3
			.info
				h4.info__title Lorem ipsum dolor sit amet.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore architecto ipsam beatae quasi hic cum possimus, accusamus fugit, obcaecati quibusdam.
		.col-md-4.pt-3
			.profecional
				img(src="../img/foto1.JPG", alt="").img-fluid.rounded-circle
				h4 Ing. Jonathan Bastidas
					span Diseñador Web
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, id.
		.col-md-4.pt-3
			.sociales
				h4.pl-2.ml-2 GET CONNECTED
				p.icon-telephone
					span +56 4160919466
				p.icon-mail 
					span ingenierobastidas1994@gmail.com
				.sociales__link.d-flex
					.caja
						a(href="#").icon-facebook
					.caja
						a(href="#").icon-github
					.caja
						a(href="#").icon-twitter
	p.text-center.bg-dark &copy Copy Bastidas Jonathan 2017

