.container-fluid.contact#pills-contact
	section.container.py-5.mt-5
		h3.text-uppercase.text-center.mb-4.pt-5.text-white Formulario de contacto
		p.lead.text-center.mb-4.text-white Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus hic sint non rem quibusdam. Dicta facilis dignissimos deserunt, mollitia dolores.
			form.form-inline.flex-column.flex-md-row.justify-content-center
				.form-group.mx-3.my-3
					label.mx-3.text-white Nombre:
					input(type="text" placeholder="Escribe tu Nombre").form-control
				.form-group.mx-3.my-3
					label.mx-3.text-white Email:
					input(type="email" placeholder="Escribe tu Email").form-control
				.form-group.mx-3.my-3
					button(class="btn btn-primary") Enviar