.container.stock
	h3.stroc__title.display-4.text-center#pills-stock stock permanentes
	.row
		-var i = 8
		-while(i--)
			.section.col-xm-12.col-sm-6.col-md-3.pt-2.text-center.pb-3
				img(src="../img/car.jpeg", alt="").img-fluid.producto__img
				p.producto__descrip Lorem ipsum dolor sit amet.
				button(type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm") Leer Mas