.container.main#pills-home
	.row.py-4
		.aside.col-xs-12.col-md-4
			h4.py-2 Últimas Entradas
			ul
				li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.contenido.col-xs-12.col-md-8
			h2.h2 Bienvenido a Mi Sitio Web
			h3.h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus explicabo qui quia dolorum, saepe sit earum laboriosam,ducimus excepturi asperiores, quos, reiciendis consequatur quae deleniti.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, quibusdam? Molestias consequatur, unde quia pariatur fuga totam tenetur voluptates modi. Obcaecati ipsum eveniet, quos aperiam perspiciatis sit nulla.
			.row
				.col-xs-12.col-sm-6.col-md-3
					img(src="../img/paisaje.jpg", alt="").img-fluid.pt-2
				.col-xs-12.col-sm-6.col-md-3
					img(src="../img/paisaje.jpg", alt="").img-fluid.pt-2
				.col-xs-12.col-sm-6.col-md-3
					img(src="../img/paisaje.jpg", alt="").img-fluid.pt-2
				.col-xs-12.col-sm-6.col-md-3
					img(src="../img/paisaje.jpg", alt="").img-fluid.pt-2