.container.empresa#pills-empresa
	h3.title.text-center.py-4.display-4  Desarrollo Web C.A
	.vision
		h4 Visión
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium saepe, aspernatur asperiores ab voluptatibus ducimus dolore deserunt amet ex itaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium saepe, aspernatur asperiores ab voluptatibus ducimus dolore deserunt amet ex itaque.
	.mision
		h4 Misión
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium saepe, aspernatur asperiores ab voluptatibus ducimus dolore deserunt amet ex itaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium saepe, aspernatur asperiores ab voluptatibus ducimus dolore deserunt amet ex itaque.
	.objetivos
		h4 Objetivos
		ul
			li ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, et.
			li ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, et.
			li ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, et.
			li ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, et.